footer {
  justify-content: space-between;
}
.text {
  color: #b7b3b3;
  font-weight: 600;
  max-width: 250px;
}

.firstItem {
  color: #8b8b8b;
}

.product {
  font-weight: 500;
  margin: 40px 0;
}

ul {
  list-style-type: none;
}

h4 {
  margin-top: 10px;
  padding: 0;
}

.redeSocial {
  background-color: #6c63ff;
  margin-left: 50px;
  color: #fff;
  align-self: flex-start;
  padding: 8px 16px;
  border-radius: 25px;
}

.redeSocial a {
  display: block;
  margin-bottom: 20px;
  color: #fff;
  text-decoration: none;
}
