body {
  width: 1000px;
  margin: 20px auto;
}

.companyName {
  color: #6c63ff;
}

.container {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 45px;
  align-self: flex-start;
  margin-top: 10px;
  margin-right: 10px;
}
